[submodule "ctools"]
	path = ctools
	url = git@github.ti.census.gov:CB-DAS/ctools.git
[submodule "dfxml"]
	path = dfxml
	url = git@github.ti.census.gov:CB-DAS/dfxml.git
[submodule "census_etl"]
	path = census_etl
	url = git@github.ti.census.gov:CB-DAS/census_etl.git
